
h1{
    
    background-color:#ff3399;
    text-align: center;
    font-style: italic;
    
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h2{
    font-size: 25px;
    background-color:#ff1a8c;
    text-align: center;
    font-style: initial;
}
img{
    width: 400px;
    height: 200px;
}
h3{
    font-size: 25px;
    background-color:#ff1a8c;
    text-align: center;
    font-style: initial;
    
}


h4{
    font-size: 25px;
    background-color:#ff1a8c;
    text-align: center;
    font-style: initial; 
    
}
